:root {
  --white: #FFF;
  --primary: #F5930B;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  background-image: url('/bg_clima.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--white);
  font-size: 2rem;

}